---
//pages/[lang]/index.astro
import fetchApi from "../../assets/scripts/libs/strapi";
import Layout from "../../layouts/Layout.astro";
import About from "../../layouts/About.astro";
import Atlas from "../../layouts/Atlas.astro";
import Exhibitions from "../../layouts/Exhibitions.jsx";

const { lang } = Astro.params;

const about = await fetchApi({
  endpoint: "about",
  query: {
    populate: "*",
  },
  locale: lang,
  wrappedByKey: "data",
});

const exhibitions = await fetchApi({
  endpoint: "exhibitions",
  query: {
    populate: "*",
  },
  locale: lang,
  wrappedByKey: "data",
});

const atlas = await fetchApi({
  endpoint: "atlas",
  query: {
    populate: "*",
  },
  locale: lang,
  wrappedByKey: "data",
});
---

<Layout>
  <section id="about">
    <About data={about} lang={lang} />
  </section>

  <section id="exhibitions">
    <Exhibitions client:load data={exhibitions} lang={lang} />
  </section>

  <section id="atlas">
    <Atlas data={atlas} lang={lang} />
  </section>
</Layout>
