---
//pages/[lang]/index.astro
import fetchApi from "../../assets/scripts/libs/strapi";
import Layout from "../../layouts/Layout.astro";
import About from "../../layouts/About.astro";
import Atlas from "../../layouts/Atlas.jsx";
import Exhibitions from "../../layouts/Exhibitions.jsx";
import PreviewPanel from "../../components/features/PreviewPanel.astro";
import ScrollSpy from "../../components/common/ScrollSpy.jsx";

const { lang } = Astro.params;

const about = await fetchApi({
  endpoint: "about",
  query: {
    populate: "*",
  },
  locale: lang,
  wrappedByKey: "data",
});

const exhibitions = await fetchApi({
  endpoint: "exhibitions",
  query: {
    populate: "*",
  },
  locale: lang,
  wrappedByKey: "data",
});

const atlases = await fetchApi({
  endpoint: "atlases",
  query: {
    populate: "*",
  },
  locale: lang,
  wrappedByKey: "data",
});
---

<Layout>
  <ScrollSpy client:load />
  <div>
    <!-- <section id="landscape" class="absolute scroll-mt-header-height">
      <PreviewPanel />
    </section> -->

    <section
      id="about"
      class="px-x-body md:grid md:grid-cols-24 md:gap-[10px] transition-opacity duration-300 opacity-10 hover:opacity-100 scroll-mt-header-height pt-header-height"
    >
      <div class="md:col-span-10 lg:col-span-8">
        <About data={about} lang={lang} />
      </div>
    </section>

    <section
      id="exhibitions"
      class="px-x-body md:grid md:grid-cols-24 md:gap-[10px] scroll-mt-header-height"
    >
      <div
        class="md:col-span-10 lg:col-span-10 md:gap-[10px] scroll-mt-header-height"
      >
        <Exhibitions client:load data={exhibitions} lang={lang} />
      </div>
    </section>

    <section id="atlas">
      <Atlas client:load={true} atlases={atlases} />
    </section>
  </div>
</Layout>
